<div class="animated fadeIn">

  <h4 class="title bg-light p-2 m-3">  Editer un pays </h4>
  <section class="bg-light ">
    <div class="row">

      <div class="col-12 col-md-12">

        <div class="card" *ngIf="errBack">
          <div class="card-body">
            <div>
              <alert [type]="danger" [dismissible]="dismissible">{{ msgError }}</alert>
            </div>
          </div>
        </div>

        <form  [formGroup]="editCustomerForm"  (ngSubmit)="onSubmit()"  class="form-horizontal">

          <div class="card">

            <div class="card-header">
              <strong>Edition </strong> d'un pays
            </div>

            <div class="card-body">

              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input"> Code </label>
                <div class="col-md-9">
                  <input type="text" id="text-input" formControlName="code"
                         class="form-control" placeholder="votre code" [ngClass]="{'is-invalid' : submitted && f.code.errors}">
                  <div *ngIf="submitted && f.code.errors">
                    <span class="help-block" style="color: brown" *ngIf="f.code.errors.required">Le code est obligatoire </span>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input2">Nom</label>
                <div class="col-md-9">
                  <input type="text" id="text-input2" formControlName="nom" class="form-control"
                         [ngClass]="{'is-invalid' : submitted && f.nom.errors}" placeholder="Nom du pays">
                  <div *ngIf="submitted && f.nom.errors">
                    <span class="help-block" style="color: brown" *ngIf="f.nom.errors.required">Le nom du pays est obligatoire </span>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="devise">Description</label>
                <div class="col-md-9">
                  <textarea class="form-control" id="devise"
                            formControlName="description" placeholder="La description"
                            [ngClass]="{'is-invalid' : submitted && f.description.errors}" rows="8"> </textarea>
                  <div *ngIf="submitted && f.description.errors">
                    <span class="help-block" style="color: brown" *ngIf="f.description.errors.required">Merci de saisir la date</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Editer le pays </button>
              <button type="reset" class="btn btn-sm btn-danger" (click)=onReset()><i class="fa fa-ban"></i> Annuler </button>
            </div>

          </div>

        </form>

      </div>

    </div>
  </section>

</div>
