.loader{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0%;
  background: rgba(10, 10, 10, 0.23);

  .loader-content{
    display: table;
    margin: auto;
    position: relative;
    top: 34%;
  }

  .fa-spin{
    font-size: 70px;
    color: #0266ac;
  }
}
