<div class="animated fadeIn">

  <h4 class="title bg-light p-2 m-3">  Gestion des types d'offre </h4>

  <div class="col-12 col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Table des types d'offres
        <i class="fa fa-plus float-right bg-blue p-2 " style="color: #fff; cursor: pointer" routerLink="/fidelite/fidelisations/creer-type-offre"></i>
      </div>
      <div class="card-body">
        <table class="table table-striped" >


          <thead>
          <tr>
            <th>Code</th>
            <th>libelle</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let type_offre of typeOffres">
            <td>{{ type_offre.code }}</td>
            <td>{{ type_offre.libelle }}</td>
            <td>{{ type_offre.description }}</td>
            <td>
              <div>
                <button (click)="delete(type_offre.code)" class="btn btn-danger btn-sm">
                  <span >  <i  class="cui-trash icons "></i>  </span>
                </button>
                <button  class="btn btn-success btn-sm" (click)=editElement(type_offre)>
                  <span >  <i  class="cui-pencil icons "></i>  </span>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
       <!--  <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul> -->
      </div>
    </div>
  </div>


</div>
