<div class="animated fadeIn">

  <h4 class="title bg-light p-2 m-3">  Gestion des paliers </h4>

  <div class="col-12 col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Table des paliers
        <i class="fa fa-plus float-right bg-blue p-2 " style="color: #fff; cursor: pointer" routerLink="/fidelite/fidelisations/creer-palier"></i>
      </div>
      <div class="card-body">
        <table class="table table-striped" >


          <thead>
          <tr>
            <th>Offre</th>
            <th>Unit&eacute; de point</th>
            <th>Montant inf&eacute;rieur</th>
            <th>Montant sup&eacute;rieur</th>
            <th>Unit&eacute; de devise</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let palier of paliers">
            <td>{{ palier.offre.libele }}</td>
            <td>{{ palier.unitePoint }}</td>
            <td>{{ palier.montantInf }}</td>
            <td>{{ palier.montantSup }}</td>
            <td>{{ palier.uniteDevise }}</td>
            <td>
              <div>
                <button (click)="delete(palier.code)" class="btn btn-danger btn-sm">
                  <span >  <i  class="cui-trash icons "></i>  </span>
                </button>
                <button  class="btn btn-success btn-sm" (click)=editElement(palier)>
                  <span >  <i  class="cui-pencil icons "></i>  </span>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <app-pagination [url]="'ppaliers'" [numeroPage]="0" [sizePage]="2" (arrayDataEvent)="addPageItem($event)"></app-pagination>
       <!--  <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul> -->
      </div>
    </div>
  </div>


</div>
