<div class="animated fadeIn">

        <h4 class="title bg-light p-2">  Liste des Transactions </h4>
      
        <div class="col-12 col-sm-12 col-md-12">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Transactions
      
               <i class="fa fa-plus float-right bg-blue p-2 " style="color: #fff; cursor: pointer" routerLink="/fidelite/cartes/lister-transactions"></i> 
      
            </div>
            <div class="card-body">
              <table class="table table-striped" >
                <thead>
                <tr>
                  <th>Transaction id</th>
                  <th>Date initiale </th>
                  <th>Date enregistrement</th>
                  <th>Montant initial</th>
                  <th>Montant reduit</th>
                  <th>Carte </th>
                  <th>Terminal</th>
                  <th>Commentaire</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let transaction of transactions">
                  <td>{{ transaction.transactionId }}</td>
                  <td>{{ transaction.dateTransaction }}</td>
                  <td>{{ transaction.dateEnregistrement }}</td>
                  <td>{{ transaction.montantInitial }}</td>
                  <td>{{ transaction.montantReduit }} </td>
                  <td>{{ transaction.carte.numero }}</td>
                  <td>{{ transaction.terminal.designation }}</td>
                  <!-- <td>
                    <span *ngIf="point.statut==1" class="badge badge-success">Disponible</span>
                    <span *ngIf="point.statut==2" class="badge badge-secondary">Hors service</span>
                  </td> -->
                  <td>
                    <div>
                      <button (click)="delete()" class="btn btn-danger btn-sm">
                        <span >  <i  class="cui-trash icons "></i>  </span>
                      </button>
                      <button  class="btn btn-success btn-sm" (click)=editElement()>
                        <span >  <i  class="cui-pencil icons "></i>  </span>
                      </button>
                      <button class="btn btn-info btn-sm" (click)=showElement()>
                         <span >  <i  class="cui-info icons "></i>  </span>
                       </button>
                    </div>
                  </td>
                  <!-- <td  >
                    <span class="badge badge-success">Active</span>
                  </td> -->
                </tr>
                </tbody>
              </table>
      
              <!-- <app-pagination [url]="'ppointsdevente'" [numeroPage]="0" [sizePage]="2" (arrayDataEvent)="addPageItem($event)"></app-pagination> -->
      
      
              <!-- <ul class="pagination">
                 <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                 <li class="page-item active">
                   <a class="page-link" href="#">1</a>
                 </li>
                 <li class="page-item"><a class="page-link" href="#">2</a></li>
                 <li class="page-item"><a class="page-link" href="#">3</a></li>
                 <li class="page-item"><a class="page-link" href="#">4</a></li>
                 <li class="page-item"><a class="page-link" href="#">Next</a></li>
               </ul>-->
      
            </div>
          </div>
        </div>
      
      </div>
      